---
layout: default
permalink: resume
---

<!-- Your title is also defined in the _config.yml file -->
<div class="header-resume" itemprop="resume">RESUME</div>

<div class="title-bar">
  <!-- Your title is also defined in the _config.yml file -->
  <h2 class="header-title" itemprop="overview">Overview</h2>
  <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
</div>

<div class="executive-summary" itemprop="description">
  <p> I'm a professional in the field of software engineering, computer networking as well as wireless sensor network (WSN). Currently I'm specialize in the development of Internet of Things (IOT) platform/middleware and application. I have over 10 years experience in Research and Software Development.</p>

  <p>
  As a Lead IOT Engineer at my current company -- REDtone IOT Malaysia, I have been architecting and developing a platform for Smart City Application. In general, my responsibility spans Architecting IOT solution, IOT middleware development and IOT deployment.
  </p>
  <p>
  Prior to my current role, I was a researcher in software and wireless communication Lab in National Research Institute in Malaysia (MIMOS). The specific research works that I have done in previous company were mainly on Internet of Things, IP/IPv6 based Wireless Sensor Communication (e.g. 6LoWPAN and Zigbee) and Mobile Ad-hoc Network and Routing Protocol. As a Researcher, I have published several scientific publications as well as some Intelectual Properties (IP).
  </p>
  <blockquote><p><strong>Specialties</strong>: Software Engineering, Internet of Things (IOT), Machine to Machine (M2M) Communication, IOT/M2M Protocols, Network Simulation and Protocol coding, Wireless Sensor Network and Routing Protocol, Software as a Service (Saas), Big Data Database (Mongo/Cassandra), Unix/Linux shell scripting, Server-based Scripting (NodeJS, PHP, Python), Front-end Scripting (HTML5, Javascript, AngularJS, JQuery), Version Control System (Git, GitHub, Bitbucket).</p>
    <p><strong>Soft-Skills</strong>: Patent Writing, Academic Writing, Theory of Problem Solving using TRIZ Methodology</p>
  </blockquote>

</div>

  <a href="mailto:{{ site.footer-links.email }}" class="contact-button" itemprop="email">Contact me</a>

  <!-- Begin Achievements -->
  <section class="content-section">
          <header class="section-header">
            <h2>Achievements</h2>
          </header>

          <div class="resume-item">
                    <h4 class="resume-item-details">Frost & Sullivan Award's Malaysia Innovative Smart City Solution Provider of the Year (2016)</h4>
                    <p class="resume-item-copy">Through our smart-city application called CitiAct, REDtone IOT has been named as Malaysia Innovative Smart City Solution Provider of the Year by Frost & Sullivan. The CityAct is built by a team of 7 Engineer. It is citizen-centric smart city solution. We gave the power to “sense” to the citizens themselves. When we have both the elements of IOT technology coupled with human sensitivity, it gave a totally different dimension – Nothing beats the data generated that has a human emotion inside.</p>
          </div>

          <div class="resume-item">
                    <h4 class="resume-item-details">Best Paper Award (SensorComm 2012 Conference)</h4>
                    <p class="resume-item-copy">Best  Paper  award  for  "IPv6  Wireless  Sensor  Network  Gateway  Design  and  End-to-End Performance Analysis" with the team. Presented at SensorComm 2012, The sixth International conference on sensor technologies and applications, Italy</p>
          </div>
          <div class="resume-item">
                    <h4 class="resume-item-details">Silver Medal (ITEX'2010) </h4>
                    <p class="resume-item-copy">Silver Medal Award on Invention of “6LoWPAN Gateway” at 21st International Invention, Innovation,  Industrial  Design  and  Technology  Exhibition  (ITEX2010),  Kuala -Lumpur Convention Centre (KLCC), Kuala Lumpur</p>
          </div>
          <div class="resume-item">
                    <h4 class="resume-item-details">MIMOS Platinum Badge </h4>
                    <p class="resume-item-copy">MIMOS Platinum Badge for filing 10 Patents (2010)</p>
          </div>
          <div class="resume-item">
                    <h4 class="resume-item-details">MIMOS Gold Badge </h4>
                    <p class="resume-item-copy">MIMOS Gold Badge for filing 5 Patents (2010)</p>
          </div>
          <div class="resume-item">
                    <h4 class="resume-item-details">Bronze Medal (IIUM Research Exhibition 2007) </h4>
                    <p class="resume-item-copy">MIMOS Platinum Badge for filing 10 Patents (2010)</p>
          </div>

   </section>

  <!-- End Achievements -->

  <!-- begin Experience -->
   <section class="content-section">
     <header class="section-header">
       <h2>Working Experience</h2>
     </header>

     <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
     <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://redtone.com">
       <h3 class="resume-item-title" itemprop="name"><span style="color:red">RED</span>tone IOT</h3>
       <h4 class="resume-item-details" itemprop="description">Lead IOT Engineer &bull; Jan, 2015 &mdash; Present</h4>
       <p class="resume-item-copy">REDtone IOT Sdn Bhd. was incorporated in Malaysia to focus on providing Internet of Things services and solutions. I am responsible for architecting, designing and developing horizontal platform for IOT, as well as vertical IOT solutions. For the vertical IOT solution, we have successfully developed a Citizen Engagement application (CitiAct) that runs on top of our Smart-City Platform (Citisense). My responsibilities includes:</p>
       <ul class="resume-item-list">
         <li>Architecting and designing the IOT Middleware as a generic platform for IOT verticals, especially for Citizen Engagement Application</li>
         <li>Developing Big-Data system using NoSQL-based databases (Cassandra and Apache Solr)</li>
         <li>Developing Microservices that are required by REDtone Smartcity solution</li>
         <li>Developing participatory sensing (Citizen Engagement) application that enables citizens to collect and share data, as part of REDtone IOT-Smart-City solution</li>
         <li>User authentication and authorization service for Citisense</li>
       </ul>

       <blockquote>
         <p><strong>Tools Used</strong>: NodeJS, AngularJS, Cassandra, Apache Solr, MongoDB, Hadoop, RabbitMQ, LogStash, Git, BitBucket, Docker, GruntJS and GulpJS, Swagger, Nginx.
         </p>
        <p><strong>Key Knowledge</strong>: IOT Architecture and Middleware, Microservice Architecture, RESTful Architecture, Citizen Engagement Application, API Design</p>
       </blockquote>

     </div><!-- end of resume-item -->

     <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
     <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
       <h3 class="resume-item-title" itemprop="name"><span class="red">MIMOS BERHAD</span></h3>
       <h4 class="resume-item-details" itemprop="description">Senior Researcher &bull; Oct, 2010 &mdash; Dec,2014</h4>
       <p class="resume-item-copy">As Senior Researcher in MIMOS, my research works mainly on Internet of Things domain. Some of the research and development works I have completed are:</p>
       <ul class="resume-item-list">
         <li>Development  of  Smart  Parking   System   within   MIMOS Campus,  the  development  is  using  Cloud-Based  IOT Platform/Middleware and Zigbee-based Sensor Networ</li>
         <li>Development and Integration of Proxy SNMP to manage Smart Parking Sensors</li>
         <li>Architecture Design of Open Architecture for Internet of Things (IoT).</li>
         <li>Architecture  of  Virtual  IP  Communication  for  IOT environment,  A  Communication  method  to  enable  IP
communication  for  non  IP  devices  in  Internet  of  Things Environment.</li>
          <li>Virtual  IP  Stack  Deployment  -  A  Method  to  enable  IP communication  for  non  IP  devices  in  Internet  of  Things Environment</li>
          <li>IOT  Gateway  -  Architecture  design  and  implementation  of Internet of Things (IOT) Gateway for Heterogeneous Objects (Based on Alix Board and Voyage Linux)</li>
          <li>Development  of  Smart  Street  Light  System  within  MIMOS Campus,  the  development  is  based  on  Cloud  Based  IOT Platform/Middleware and Zigbee- based Sensor Network</li>
       </ul>
       <blockquote>
         <p><strong>Tools used</strong>: Contiki  Operating System, GNU C Compiler (GCC), Carriots IOT Middleware, Perl, Awk.</p>
         <p><strong>Key Knowledge</strong>:Architectural  Design,  Internet  of  Things,  Web  of  Things, Constrained  Application  Protocol (CoAP),  RESTful Architecture, IOT  Middleware. Contiki  Operating  System,  Network
Configuration</p>
       </blockquote>

     </div><!-- end of resume-item -->

     <!-- RESEARCHER at MIMOS  -->
     <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
       <h3 class="resume-item-title" itemprop="name"><span class="red">MIMOS BERHAD</span></h3>
       <h4 class="resume-item-details" itemprop="description">Researcher &bull; April, 2008 &mdash; Oct, 2010</h4>
       <p class="resume-item-copy">My research and development works during my service as Researcher was mainly on Wireless Sensor Network and IPv6 over Low Power Personal Area Network (6LoWPAN). The following are some of research and development project I have completed:</p>
       <ul class="resume-item-list">
         <li>Research  and implementation  of  a  new  SNMP compression  mechanism  to enable sensor network management using SNMP Protocol
         </li>
         <li>Research   and   Proof   of   Concept   of   Inter-PAN   network mobility   by   implementing   Sensor-based Patient   Health Monitoring System
         </li>
         <li>Proof of Concept of Livestock Health Monitoring System and Location Tracking System
         </li>
         <li>Web  Services  for  6LoWPAN  Network  -  Development  of  a gateway  that  provide  web  services  (based  on  SOAP  web service) for sensor devices in 6LoWPAN Network</li>
         <li>Integrating  6LoWPAN  Stack  in  an  Embedded  Precision Agriculture Device based on Texas Instrument (TI CC430)</li>
         <li>Architecting  a  Robust  6LoWPAN  Gateway  to  provides communication  between  6LoWPAN  wireless  sensor
network and the IPv6 network. The gateway uses IEEE 802.15.4 interface  to  communicate  with  the  sensor  nodes  and
Wifi/Ethernet for communication with the Internet</li>
       </ul>

       <blockquote>
         <p><strong>Tools used</strong>: Linux  OS, FreeRTOS, GNU C Compiler (GCC), Small Device C Compiler (SDCC), Sensinode Development Kit for Wireless Sensor. Perl, Awk.</p>
         <p><strong>Key Knowledge</strong>:TCP/IP Stack, Wireless Sensor Network, Embedded Programming, IPv6 Stack of Low Power Area Network (6LoWPAN), Web Services for sensor network</p>
       </blockquote>

     </div><!-- end of RESEARCHER at MIMOS -->

     <!-- RESEARCH Assistant IIUM  -->
     <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
       <h3 class="resume-item-title" itemprop="name"><span>Faculty of Engineering, IIUM Malaysia</span></h3>
       <h4 class="resume-item-details" itemprop="description">Research Assistant &bull; February, 2004 &mdash; May, 204</h4>
       <blockquote>
         <p>
           <strong>Project Name</strong>: Design and Development and Prototyping of an Automated Visual Microchip Inspection System - (Funded by IRPA)
         </p>
         <p>
           <strong>Tools used</strong>: Visual C++, LabView, Matlab.
         </p>
         <p><strong>Key Knowledge</strong>:Image Processing, Tool and Die, Microchip Fabrication</p>
       </blockquote>

     </div><!-- end of RESEARCH assistant IIUM -->

     <!-- PT. PKL  -->
     <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
       <h3 class="resume-item-title" itemprop="name"><span>PT. Permata Karunia Lestari, Jakarta - Indonesia</span></h3>
       <h4 class="resume-item-details" itemprop="description">Web Master and Programmer &bull; October, 2001 &mdash; November, 2003</h4>
       <blockquote>
         <p>
           <strong>Project Name</strong>: Development of Tourism Portal Indonesiatourism.com
         </p>
         <p>
           <strong>Tools used</strong>: PHP, MySQL, Apache Web Server, Red Hat Linux 7.2.
         </p>
         <p><strong>Key Knowledge</strong>:Web Application Development, Database Management System</p>
       </blockquote>
     </div>

   </section>

   <section class="content-section">
           <header class="section-header">
             <h2>Education</h2>
           </header>

           <div class="resume-item" itemscope="" itemprop="worksFor" itemtype="http://iium.edu.my">
             <h3 class="resume-item-title" itemprop="name">Faculty of Engineering - International Islamic University Malaysia (IIUM)</h3>
             <h4 class="resume-item-details" itemprop="description">Master in Information Engineering • 2004 — 2007</h4>
             <p class="resume-item-copy"><strong>Thesis: </strong>Performance Study of Multicast Routing Protocol Over Mobile
Ad-hoc Networks (MANETs).</p>
           </div>

           <div class="resume-item" itemscope="" itemprop="worksFor" itemtype="http://unpas.ac.id">
             <h3 class="resume-item-title" itemprop="name">Faculty of Engineering - Pasundan University, Bandung - Indonesia</h3>
             <h4 class="resume-item-details" itemprop="description">Degree in Informatics Engineering • 1996 — 2000</h4>
             <p class="resume-item-copy"><strong>Project: </strong>Development  of  Data  Defining  Utility  for  Relational
Database Management System.</p>
           </div>

    </section>
